<div class="container-fluid">
  <h1>CI/CD Example</h1>
  <hr color="white">
  <h3>About project</h3>
  <br>
  <section>
    <p>This project tests CI/CD workflow for the first time.<br><br>CI/CD comes from: <i><strong>Continuous
          Integration</strong></i>
      and <i><strong>Continuous
          Delivery</strong></i> (or in further stages of delivery - <i><strong>Continuous
          Deployment</strong></i>).<br><br>This project was created for educational
      purposes.</p>
  </section>
  <footer>
    &copy; 2022 by Paweł "Wilczeq/Vlk" Turoń. All rights reserved.
  </footer>
</div>