html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('assets/images/wolf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 28px;
    color: yellow;
    margin-left: 375px;
}

p {
    font-size: 16px;
    color: plum;
    margin-left: 50px;
}

footer {
    font-size: 22px;
    color: greenyellow;
    margin-left: 50px;
    position: absolute;
    bottom: 0;
}